<!-- post page body -->
<article class="post">
	<div class="post_title">
		<a href="#"><%= page.title %></a>
	</div>
	<div class="post_meta">
		<div>
			<span>作者：<a href="<%- url_for('../2017/08/24/关于我的两三事：依可iketan') %>"><%= config.author %></a></span>
			<span>时间：<a href="/archives"><%- date(page.date,"YYYY-MM-DD") %></a></span>
			<span>标签：<%- list_tags(page.tags,{
				show_count: false
			}) %></span>
		</div>	
	</div>
	<div class="page_toc">
		<%- toc(page.content) %>
	</div>
	<div class="post_content markdown-body">
		<%- page.content %>
	</div>
</article>