<!-- public part -->
<!DOCTYPE html>
<html>
	<!-- public head partial -->
	<%- partial('_partial/head.ejs') %>
	<body>
		<img id="bg" src="/img/bg/miku/Origin/bg1.jpg" alt="">
		<!-- public header partial -->
		<%- partial('_partial/header.ejs') %>
		<!-- public nav partial -->
		<%- partial('_partial/nav.ejs') %>
		<!-- body partial(index/post/archive) -->
		<%- body %>
		<!-- public footer partial -->
		<%- partial('_partial/footer.ejs') %>
		<!-- public backer partial -->
		<%- partial('_partial/backer.ejs') %>
	</body>
</html>